.ad_style {

    background-color: white;
    font-family: Sans-Serif;
    padding: 20px;
    width: 65%;
    border: 1px solid black;
}
.icon_style{

    color: #3C6B97;
    width: 40px;
    height : 40px;
    padding-inline: 5px;
}
.star{

    color: #FFD600;
    width: 50%;
    height: 50%;

}
.room-selector1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-decoration: none;

  }
  @media only screen and (max-width: 576px) {
    .map-container {
      width: 100%;
      height: 300px; 
    }
  }
  

  @media only screen and (min-width: 576px) {
    .map-container {
      width: 100%;
      height: 350px; 
    }
  }
  

  @media only screen and (min-width: 768px) {
    .map-container {
      width: 100%;
      height: 60%;
    }
  }
  

  @media only screen and (min-width: 992px) {
    .map-container {
      width: 100%;
      height: 60%; 
    }
  }
  