.outer {
    
    position: relative;
  }
  .text {
    position: absolute;
    top: 200px;
    margin-left: 50px;
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  .Section
{
  height: 500px;
}
h1{
  color: white;
}
@media (max-width: 768px) {
  .overlay {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .overlay {
  top: 50%;   
  position: absolute;
  width: 40%;
  border: 1px solid black;
  left: 30%;
  transform: translate(-50%, -50%);
  }
}