.outer {
    
    position: relative;
  }
  .text {
    position: absolute;
    top: 200px;
    margin-left: 50px;
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  .Section
{
  height: 500px;
}
h1{
  color: white;
}
