.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    width: 100%; /* Set a fixed width for the form */
    max-width: 500px; /* Set a maximum width for the form */
    }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color:black;
  }
  
  .form-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-register {
    background-color: #3C6B97;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-register:hover {
    background-color: #456f97;
  }
  
  