
.style-stats{
    border-radius: 50%;
    background-color: #3C6B97;
    width: 150px;
    height: 150px;
}
.stats-heading{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30%;
}
.stats-heading2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;
}
.popular-hostel-btn{
    width: auto;
    background-color: #3C6B97;
    color: white;
    border: 1px solid white;
}
.img-city{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.text1{
    color: rgb(63, 63, 63);
    padding-bottom: 50px;
    text-align: left;
}
.text2{
    text-align: left;
}
.row-border {
    border-top: 20px solid transparent; /* Adjust the border size as needed */
  }
  .slider{
    margin-top: 80px;
    background-color: #3C6B97;
    padding: 10%;
    color: white;
  }
  .general{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .overlay{
    position: absolute;
    top: 100%;
   left: 32%;
    width: 40%;
    transform: rotateY('-50%');
  };
.aligndiv_style{
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    background-color: white;
}
.aligndiv_style1{
    padding: 5px;
    border: 1px solid black;
    border-radius: 25px;
}
.styleicon_{
    width: 35px;
    height: 35px;
    color: black;
}
.background-container {
    
    background-size: cover;
    padding: 100px;
  }
  .form-container00{
    max-width: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  .img_styles{
    border-radius: 50%;
    max-width: 50%;
  }
  .orng_banner{
    color: black;
    background-color: #EEAD4B;
    font-family: sans-serif;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 0 20px rgba(180, 141, 141, 0.8);
  }
  .hvr{
    background-color: #3C6B97;
    width: 100%;
  }
  .hvr:hover{
    background-color: #5288bb;
  }
  .prominent{
    transition: transform 0.3s ease-in-out;
  }
  .prominent:hover{
    transform: scale(1.1);
  }

  @media (max-width: 575px) { 
    .background-container {
      padding: 50px;  
    }
  }
  
  @media (min-width: 576px) and (max-width: 767px) { 
    .background-container {
      padding: 60px; 
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {  
    .background-container {
      padding: 80px;  
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .background-container {
      padding: 90px;  
    }
  }
