.headerstyle
{
  color: white;
  background-color: #3C6B97;
  padding: 20px;
  font-family: Sans-Serif;
  display: flex;
  height : 80px;
  align-items: center;
  justify-content: center;
}
.Link_style
{
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 10px;
  text-decoration: none;
  margin-left: 5px;
}
@media (max-width: 600px) {
  /* Adjust styles for screens with a maximum width of 600px */
  body {
    font-size: 14px;
  }
}
